---
layout: page
title: Ethical Policy
hide_title: true
header: Ethics
group: Policy
comments: true
permalink: ethical-policy/
---
{% include JB/setup %}

<section class="gray">
	<div class="container">
		<div class="row">
			<h2>Ethical Policy</h2>
			<br/>
			<p>
			The current times require companies and organisations to operate in a transparent manner. We believe that a healthy company should have a proactive attitude towards ethical issues such as privacy and security.
			</p>
			<p>
			DoBots, operating in the exciting but delicate new field of service robotics, has set itself the golden number of seven rules which anticipate difficult dilemmas.
			</p>
		</div>
		<div class="row">
			<h3>1. "Helping, not harming"</h3>
			<p>
			A swarm of robots might provide facilities for search and rescue, or recognizing and tracking people. DoBots advances technologies in which people can be sought out as victims, not as perpetrators. We provide technologies to help people, for instance recognizing people drowning at sea, fainting in a crowd, or guiding people in an evacuation scenario. DoBots will not provide technologies to recognize hooligans, protesters or criminals, nor will we participate in defense projects, or projects of a military nature
			</p>

			<h3>2. "No spying"</h3>
			<p>
			Robot swarms have access to an array of sensors, collecting a host of data. We are very much aware that some of this data might contain privacy-sensitive information about third parties, like camera shots of a neighbour's garden, sound recordings in a crowd, or location information of third party Bluetooth devices.
			We believe that aggregated data is much less privacy-sensitive than raw data. For instance, we will chose to work with data on crowd densities, rather than with actual video of the crowd in question.
			</p>

			<h3>3. "Better safe than saved"</h3>
			<p>
			Data about a robot's surroundings may be necessary for the robots to perform their task: navigation, search and rescue, or environmental monitoring. DoBots develops data interpretation technologies that function on board of the robots. The more information can be processed on board, the less raw information needs to be stored on a (central) server.
			In case information does need to be streamed to a ground station for interpretation, we avoid having to store the raw data. Only aggregated data that is required to perform the task at hand (e.g. property protection) will be communicated to an operator.
			</p>

			<h3>4. "You own your own data"</h3>
			<p>
			Your data belongs to you. When you use our tools to collect data, we do not have access to it, nor will we share or delete your data without your consent. You may of course share the data you collect, for instance to allow a swarm of bots to learn from other bots in the neighborhood.
			You are always the one who decides what you share, who you share it with, and when to stop sharing.
			</p>

			<h3>5. "Work together"</h3>
			<p>
			We believe technology can make the best and fastest advancements, if different parties are given the freedom to share and cooperate without restrictions. DoBots therefore actively promotes open source standards. Almost our entire codebase is published under an open source licence, allowing third party users to view, modify and redistribute the code of our projects, provided original copyrights and author information is left intact.

			<h3>6. "Better safe than sorry"</h3>
			<p>
			Keeping in mind possible security risks, all necessary precautions will be taken regarding safe storage of data.
			Most importantly, data which does not need to be stored, will not be stored to begin with. Please, bear with us the discomfort of having to provide information twice.
			If data does have to be stored, this will be done with the utmost care, using encryption and taking precautions against unlawful access by governmental, civilian, or other parties.
			If DoBots' servers should be hacked, this will be reported to the authorities.
			</p>

			<h3>7. "Don't take our word for it"</h3>
			<p>
			We do have internal controls in place, but you should not just take our word for it. For now, there are no independent auditors yet in The Netherlands which would be able to comment on the implementation of our policies. Hence, please feel free to recommend an organisation to us that would be able to fulfill this role.
			</p>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% include JB/comments-providers/disqus %}
		</div>
	</div>
</section>


<section class="light-blue">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<br/>
				<address>
					<strong><abbr title="or just: DoBots">Distributed Organisms B.V.</abbr></strong><br>
					Westerstraat 50<br>
					3016 DJ, Rotterdam<br>
					The Netherlands<br>
					<abbr title="Phone">P:</abbr> +31 (0)10 404 9444
				</address>
			</div> 
		</div>
	</div>
</section>

